<div class="row">
    <div class="col-4">
    </div>

    <div class="container w-25 col-4 mt-5 pb-3 ps-4 pe-4 text-center bg-white border rounded-3 " style="box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px ;"> 
        <h4 class="mt-3">MY BANK</h4>
       <img class="mt-2" src="../../assets/images/bank-icon--iconfinder-4.jpg" alt="" srcset="" style="height:90px; width:fit-content; " >
       <h6  class="text-secondary mt-2">{{aim}}</h6>

           
        <!-- event binding using $event -->
            <!-- <div><input id="login_accno" (change)="acnoChange($event)" class="form-control mt-3"  type="text" [placeholder]="account"></div>
            <div><input id="login_pswd" (change)="pswdChange($event)" class="form-control mt-3" type="password" placeholder="password"></div> -->

        <!--event binding using template reference variable  -->
            <!-- <div><input id="login_accno" #acno class="form-control mt-3"  type="text" [placeholder]="account"></div>
            <div><input id="login_pswd" #pswd class="form-control mt-3" type="password" placeholder="password"></div> -->

        <!--ngModel (Two direction)-->
            <div><input id="login_accno" [(ngModel)]="acno" class="form-control mt-4"  type="text" [placeholder]="account"></div>
            <div><input id="login_pswd" [(ngModel)]="pswd" class="form-control mt-3" type="password" placeholder="password"></div>

            <!-- <button (click)="login(acno,pswd)" class="btn btn-primary  mt-3 mb-2">Login</button><br> -->

            <button (click)="login()" class="btn btn-primary  mt-4 mb-2">Login</button><br>

            <div class="mt-2 mb-2">
                <p class="mb-0 text-secondary">Don't have an account? <a routerLink="register" class="text-decoration-none">Sign Up</a>
                </p>
              </div>


        </div>

    <div class="col-4">
    </div>
</div>

<script src="bank.js"></script>
