@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Neonderthaw&family=Notable&family=Pacifico&family=Permanent+Marker&family=Pinyon+Script&family=Poppins:wght@300&family=Rubik&family=Rubik+Beastly&family=Rubik+Bubbles&family=Sevillana&family=Titan+One&family=Ubuntu&family=Ubuntu+Mono&family=Wallpoet&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    /* background-image: url('https://img.freepik.com/free-vector/person-sending-money-using-phone-flat-vector-illustration-hands-holding-cash-smartphone-with-banking-app-its-screen-money-transferring-concept-banner-website-design-landing-web-page_74855-25256.jpg?w=2000'); */
    /* background-image : linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('https://img.freepik.com/free-vector/person-sending-money-using-phone-flat-vector-illustration-hands-holding-cash-smartphone-with-banking-app-its-screen-money-transferring-concept-banner-website-design-landing-web-page_74855-25256.jpg?w=2000'); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

nav{
    height: 60px;
}
nav a{
    color: #fff;
}
.navbar-nav a{
    color:#fff;
    transition: .5s ease;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;


}

.navbar-nav a:hover{
color: aqua;
}

.navbar-brand{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;

    margin-left: 20px;
}

/* login & reg section */
.log_section, .reg_section{
    padding-top: 50px;
    /* background-image : linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('https://img.freepik.com/free-vector/person-sending-money-using-phone-flat-vector-illustration-hands-holding-cash-smartphone-with-banking-app-its-screen-money-transferring-concept-banner-website-design-landing-web-page_74855-25256.jpg?w=2000'); */
    background-image: url('https://img.freepik.com/free-vector/person-sending-money-using-phone-flat-vector-illustration-hands-holding-cash-smartphone-with-banking-app-its-screen-money-transferring-concept-banner-website-design-landing-web-page_74855-25256.jpg?w=2000');
    
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
/* .dash_section{
    background-image: url('https://img.freepik.com/free-vector/person-sending-money-using-phone-flat-vector-illustration-hands-holding-cash-smartphone-with-banking-app-its-screen-money-transferring-concept-banner-website-design-landing-web-page_74855-25256.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
} */

input{
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px inset;

}







@media(max-width:600px){
    /* .btn-floating{
        width: 10px;
        height: 20px;
        padding-bottom: 30px;
        padding-right: 25px;
    } */
    *{
        margin: 0;
        padding: 0;
    }

    body{
        overflow-x:hidden;
        padding: 0;
        
    }

    .parent h3{
        font-size: large;
    }
    .parent h6{
        font-size: small;
    }

    .withdraw,.deposit{
        max-width: 300px;
    }
   footer{
    margin-right: -20px;
   }


} 