<div class="row">
    <div class="col-4">
    </div>

    <div class="col-4 container w-25 mt-5 text-center bg-white pb-3  border rounded-3 " style="box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px ;" > 
        <h4 class="mt-4">MY Bank</h4>

            <div><input id="reg_uname" class="form-control mt-3" type="text" placeholder="User Name"></div>
            <div><input id="reg_accno" class="form-control mt-3" type="text" placeholder="Account number"></div>
            <div><input id="password" class="form-control mt-3" type="text" placeholder="password"></div>

            <button onclick="register()" class="btn btn-primary mt-4 mb-2"> Register</button><br>
            <a class="text-decoration-none mt-4" href="index.html">Sign in</a>


        </div>

    <div class="col-4">
    </div>

</div>
<script src="bank.js"></script>
